body {
    background-image: url(https://previews.123rf.com/images/vectoroksana/vectoroksana1912/vectoroksana191249020/136189947-blue-line-burger-icon-isolated-seamless-pattern-on-yellow-background-hamburger-icon-cheeseburger-san.jpg?fj=1);
    font-family: sans-serif;
    padding: 20px;
  }
  
  h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  .established {
    font-style: italic;
  }
  
  h1, h2, p {
    text-align: center;
  }
  
  .menu {
    width: 80%;
    background-color: rgb(255, 238, 0);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  hr {
    height: 2px;
    background-color: rgb(63,255, 0);
    border-color: rgb(0,255, 67);
  }
  
  .bottom-line {
    margin-top: 25px;
  }
  
  h1, h2 {
    font-family: Impact, serif;
  }
  
  .item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .main , .Drinks {
    text-align: left;
    width: 75%;
  }
  
  .price {
    text-align: right;
    width: 25%;
  }
  
  /* FOOTER */
  
  footer {
    font-size: 14px;
  }
  
  .address {
    margin-bottom: 5px;
  }
  
  a {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: brown;
  }
  
  a:active {
    color: brown;
  }